version: '3.8'

services:
  db:
    image: postgres:15
    container_name: sheberkz-main
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: root
      POSTGRES_DB: my_database
    ports:
      - "5444:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  app:
    build: .
    container_name: node_app
    ports:
      - "3000:3000"
    depends_on:
      - db

volumes:
  pgdata:
